@page
@model hakims_livs.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="title">@Model.Category.Name</h1>

<div class="product-grid">
    @if (Model.Category.Products != null)
    {
        @foreach (var item in Model.Products)
        {
            <div class="card card-product" id=@item.ID>
                @if (item.Image != null)
                {
                    <img class="card-img-product" src="~/images/@item.Image" alt="Product Image">
                }
                else
                {
                    <img class="card-img-product" src="~/assets/ProductPlaceholder.svg">
                }
            
                <div class="card-body card-product-description">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
                <div class="card-product-footer">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.SalesPrice)kr</h5>

                    <a href="#" class="btn btn-primary btn-product">Köp</a>
                </div>
            </div>
        }
        
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
