@page
@using Microsoft.Build.Construction
@using hakims_livs.Utils
@model hakims_livs.Pages.IndexModel
@{
    ViewData["Title"] = "Hakim´s Livs";
}

<h1 class="title">Välkommen till Hakim Livs</h1>

<div class="product-grid">
    <p id="icon-tooltip">Tooltip</p>

    @foreach (var item in Model.Products)
    {
        <div class="card card-product" id=@item.ID>
            @if (item.Image != null)
            {
                <img class="card-img-product" src="~/images/@item.Image" alt="Product Image">
            }
            else
            {
                <img class="card-img-product" src="~/assets/ProductPlaceholder.svg">
            }

            <div class="card-body card-product-description">
                <div class="card-product-flex-span">
                    @if (item.Brand != null)
                    {
                        <p class="card-text card-text-small"> @Html.DisplayFor(modelItem => item.Brand)</p>
                    }
                    else if (item.Categories[0] != null)
                    {
                        <p class="card-text card-text-small"> @Html.DisplayFor(modelItem => item.Categories[0].Name)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                    <div>
                        @if (item.IsGluten)
                        {
                            <img id="Glutenfri" class="card-product-icon" src="~/assets/icon_glutenfree.png" alt="gluten free icon">
                        }

                        @if (item.IsVegan)
                        {
                            <img id="Vegansk" class="card-product-icon" src="~/assets/icon_vegan.png" alt="gluten free icon">
                        }


                        @if (item.IsEco)
                        {
                            <img id="Ekologisk" class="card-product-icon" src="~/assets/icon_eco.png" alt="gluten free icon">

                        }

                    </div>

                </div>
                <p class="card-product-title">@Html.DisplayFor(modelItem => item.Name)</p>
                <div class="card-product-flex-span">
                    <p class="card-text card-text-small">@Html.DisplayFor(modelItem => item.Volume) @Html.DisplayFor(modelItem => item.Unit)</p>
                    <p class="card-text card-text-small">@Html.DisplayFor(modelItem => item.Origin)</p>
                </div>
            </div>
            <div class="card-product-footer">
                <p class="card-product-price">
                    @FormatPrice.ToString(item.SalesPrice):-
                </p>
            </div>

        </div>
    }
</div>

