@page
@using Microsoft.AspNetCore.Identity
@using hakims_livs.Models
@model hakims_livs.Pages.Customers.DetailsModel
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager
@{
    ViewData["Title"] = "Details";
}

@if (User.IsInRole("admin"))
{
    <h1>Detaljer</h1>

    <div>
        <h4>Address</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Förnamn
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.FirstName)
            </dd>
            <dt class="col-sm-2">
                Efternamn
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.Email)
            </dd>
            <dt class="col-sm-2">
                Telefonnummer
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                Gatuaddress
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.Address.Street)
            </dd>
            <dt class="col-sm-2">
                Postnummer
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.Address.PostalCode)
            </dd>
            <dt class="col-sm-2">
                Stad
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.Address.City)
            </dd>
            <dt class="col-sm-2">
                Land
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.Address.Country)
            </dd>
        </dl>
    </div>
    <form method="post">
        @if (@Model.Customer.UserName != "admin@gmail.com")
        {
            <input type="hidden" asp-for="Customer.Id" />
            <input type="submit" value="Ta bort kund konto" class="btn btn-danger" />
        }
        <a asp-page="./Index">Tillbaka</a>
    </form>
}


